<?xml version="1.0"?>
<connectionStrings>
  <add name="BusinessOperationsConnection" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;" />
  <add name="CallConnection" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;" />
  <add name="CashBoxConnection" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;"/>
  <add name="ClientConnection" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;"/>
  <add name="CourierDeliveryConnection" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;" />
  <add name="DepartmentStructureConnection" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;"/>
  <add name="DeliveryConnection" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;"/>
  <add name="EmployeeConnection" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;"/>
  <add name="FinanceControlConnection" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;" />
  <add name="FinanceToolsIntegrationConnection" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;"/>
  <add name="InventoryControlConnection" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;"/>
  <add name="LogConnection" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;"/>
  <add name="OrdersConnection" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;"/>
  <add name="PromotionConnection" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;"/>
  <add name="ProductsConnection" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;"/>
  <add name="ProductionConnection" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;"/>
  <add name="QueueConnection" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;" />
  <add name="SessionConnection" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;"/>
  <add name="ToolsConnection" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;" />
  <add name="UsersConnection" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;"/>
  <add name="NotificationsConnection" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;"/>
	<add name="AcquiringConnection" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;"/>
	<add name="WarehouseShard_1" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;" />
	<add name="WarehouseShard_2" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;" />
	<add name="WarehouseShard_3" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;" />
	<add name="WarehouseShard_4" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;" />
	<add name="WarehouseShard_5" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;" />
	<add name="WarehouseShard_6" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;" />
	<add name="WarehouseShard_7" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;" />
	<add name="WarehouseShard_8" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;" />
	<add name="WarehouseShard_9" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;" />
	<add name="WarehouseShard_10" connectionString="Server=95.217.116.91;Port=5432;Database=buzzolls_dev;User Id=system; Password=y9I6ncHebLvqwaN6yRsp9s61JF6lEGey;" />
	</connectionStrings>